## Mutable
# common
common = {  
  default.tag               = "training"
  default.region            = "us-west-2"
  dev.region                = "us-west-2"
  stg.region                = "ap-northeast-1"
  prd.region                = "ap-northeast-1"
  default.project           = "training"
  dev.project               = "training-dev"
  stg.project               = "training-stg"
  prd.project               = "training"
  default.host_password     = "secret"
  dev.host_password         = "secret"
  stg.host_password         = "secret"
  prd.host_password         = "secret"
  default.credentials_file  = "/home/engineer/.aws/credentials"
}
